@import "../../styles/variables";

.top-card {
    &__box {
        background-color: $bg-color-light;
        padding: 1.5rem 0;
        text-align: center;
        position: relative;
    }
    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 1.5rem;
        padding: 0 3rem;
    }
    &__title {
        font-size: 2rem;
    }
    &__description {
        color: #a8bcf5;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        &--title {
            font-size: 1.6rem;
        }
        &--subtitle {
            font-size: 1rem;
        }
    }
}

.list {
    transition: all 1s;
    list-style: none;
    padding-bottom: 1rem;

    &:not(:last-child) {
        padding-bottom: 1rem;
    }
}

.blur {
    filter: blur(10px);
}

.noblur {
    filter: blur(0);
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    right: 50%;
    bottom: 50%;
    transform: translate(-50%, -50%);
}
