@import "../../styles/_mixins.scss";

.stats {
    display: flex;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    padding-left: 3rem;
    padding-right: 3rem;

    align-items: center;
    justify-content: space-between;
    position: relative;

    background-color: transparent;
    transition: 0.5s all;

    &:hover {
        background-color: rgba(256, 256, 256, 0.1);
    }

    &__description-box {
        display: flex;
        align-items: center;
        gap: 2rem;
    }

    &__image {
        &--game {
            width: 3.75rem;
            height: 5rem;
        }

        &--channel {
            width: 5rem;
            height: 5rem;
            border-radius: 50%;
        }
    }
    &__title {
        font-size: 1.8rem;
    }
}

.underline {
    position: relative;

    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 80%;
        @include horizontal-line;
    }
}
