.sidebar {
    grid-column: 16 / 21;

    display: flex;
    flex-direction: column;
    gap: 3rem;
    justify-content: center;

    @media screen and (max-width: 56.25em) {
        grid-column: 1 / -1;
        flex-direction: row;
    }

    @media screen and (max-width: 33.625em) {
        flex-direction: column;
    }
}
