@import "../../styles/variables";

.login-form {
    display: flex;
    flex-direction: column;

    font-size: 1.6rem;
    width: 100%;
    color: darken($font-color-primary, 20%);

    label {
        margin-bottom: 0.5rem;
    }

    input {
        margin-bottom: 2rem;
        font-size: 1.8rem;

        padding: 0.5rem;
        background-color: $bg-color-white;
    }

    &__button {
        display: flex;
        align-items: center;
        justify-content: space-around;

        background-color: $bg-color-white;

        margin-top: 3rem;
        padding: 0.8rem 4rem;
        border-radius: 8px;

        font-size: 1.8rem;
        color: $bg-color-dark;
        font-weight: 500;

        cursor: pointer;

        scale: 1;
        transition: all 0.3s;

        &:hover {
            scale: 1.05;
            background-color: $brand-color;
            color: $font-color-primary;
        }

        &:active {
            scale: 0.95;
            background-color: darken($brand-color, 20%);
        }

        &--google {
            &:hover {
                background-color: darken(#fff, 20%);
                color: $bg-color-dark;
            }

            &:active {
                background-color: darken(#fff, 40%);
            }
        }
    }
}
