@import "../../styles/_mixins.scss";

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 8rem;
    position: relative;

    &::after {
        content: "";
        bottom: 0;
        position: absolute;
        @include horizontal-line;
    }
}

.nav--left {
    display: flex;
    gap: 3rem;
    align-items: center;
}
.nav--right {
    display: flex;
    gap: 3rem;
    align-items: center;
}
