@import "../../styles/_mixins.scss";

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 8rem;
    position: relative;
    overflow: hidden;

    @media screen and (max-width: 90em) {
        max-width: 130rem;
        margin-left: auto;
        margin-right: auto;
        padding: 2rem 0;
    }

    &::after {
        content: "";
        bottom: 0;
        position: absolute;
        @include horizontal-line;
    }
}

.nav--left {
    display: flex;
    gap: 3rem;
    align-items: center;

    @media screen and (max-width: 33.45em) {
        gap: 1.5rem;
    }
}
.nav--right {
    display: flex;
    gap: 3rem;
    align-items: center;
    @media screen and (max-width: 33.45em) {
        gap: 1.5rem;
    }
}
