@import "../../styles/variables";
@import "../../styles/mixins";

@mixin stats($color) {
    background: $bg-color-light;
    background: linear-gradient(
        180deg,
        rgba($color, 0) 0%,

        (rgba($color, 0.05)) 100%
    );

    &:hover {
        background: linear-gradient(
            180deg,
            rgba($color, 0) 0%,

            (rgba($color, 0.15)) 100%
        );
    }

    border-bottom: 3px solid rgba($color, 0.7);
}

.hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.stats {
    &__box {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        gap: 1.4rem;
        padding: 1.6rem 0.5rem 1rem 0.5rem;
        position: relative;

        &::after {
            content: "";
            width: 100%;
            position: absolute;
            top: 0%;
            right: 100%;
            opacity: 0.4;

            @include vertical-line;
        }
    }

    &__title {
        font-size: 1.4rem;
        opacity: 0.8;
    }

    &__value {
        display: flex;
        align-items: center;
        gap: 1rem;
        font-size: 2.2rem;
        font-weight: bold;
        letter-spacing: 0.5px;
    }

    &__date {
        padding: 0.2rem 0.4rem;
        background-color: $bg-color-grey;
        border-radius: $border-radius-small;
        font-size: 1.1rem;
        opacity: 0.9;
    }
}

.activeViewers {
    @include stats($fill-color-green);
}
.activeChannels {
    @include stats($fill-color-salmon);
}
.gamesStreamed {
    @include stats($fill-color-violet);
}
.totalChannels {
    @include stats($fill-color-orange);
}
.peakViewers {
    @include stats($fill-color-pink);
}
.peakChannels {
    @include stats($fill-color-blue);
}
