$bg-color-dark: #050509;
$bg-color-white: #e7e7fa;
$bg-color-grey: rgb(58, 58, 56);
$bg-color-grey-light: #2f2f36;

$bg-color-light: #1a1a20;

$font-color-primary: #fff;
$font-color-grey: rgba(191, 191, 203, 0.75);
$font-color-grey-dark: #15151a;

$brand-color: #a256ee;
$brand-secondary-color: rgba(158, 161, 250, 1);

$fill-color-orange: rgb(255, 154, 67);
$fill-color-pink: rgb(255, 73, 139);
$fill-color-mint: rgb(118, 249, 202);
$fill-color-yellow: rgb(255, 207, 42);
$fill-color-blue: rgb(110, 196, 255);

$border-radius-small: 5px;
