@import "./_variables.scss";

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    &:focus {
        outline: none;
        outline: 2px solid $brand-color;
        outline-offset: 4px;
        border-radius: 5px;
    }
}

html {
    font-size: 62.5%;

    @media screen and (max-width: 75em) {
        font-size: 56%;
    }

    @media screen and (max-width: 56.25em) {
        font-size: 50%;
    }

    @media screen and (max-width: 33.45em) {
        font-size: 45%;
    }
}

body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    background-color: $bg-color-dark;
    color: $font-color-primary;
    padding: 0 2rem;

    @media screen and (max-width: 33.45em) {
        padding: 0 0.5rem;
    }
}

.recharts-tooltip-wrapper {
    &:focus {
        outline: none;
    }
}
