@import "../../styles/mixins";

.stats {
    &__dropdown {
        position: absolute;
        top: 110%;
        left: 50%;

        transform: translateX(-50%);
    }

    &__button {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;

        padding: 1rem 3rem;
    }

    &__button-box {
        position: relative;
    }

    &__grid {
        display: grid;
        column-gap: 1.5rem;

        padding-bottom: 1rem;
        padding-top: 1rem;
        grid-template-columns: 12fr 13fr 13fr 11fr 13fr 11fr 16fr 11fr;

        align-items: center;
        justify-items: left;

        position: relative;
        scale: 1;
        transition: all 0.3s;

        &:hover {
            scale: 1.01;
        }

        &:not(:last-child)::after {
            content: "";
            width: 100%;
            position: absolute;
            top: 100%;
            opacity: 0.4;

            @include horizontal-line;
        }
    }
}
